.deck-cover{
  width:50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:100px;
  /* background-position: center !important; */
  background-size: cover !important;
  background-image: url("images/bg.jpg")
  
}

.card-deck{
  width:50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:100px;
  margin: 0 0 !important;
  /* background-position: center !important; */
  background-size: cover !important;
}

.card-hand{
  width:50px;
  height: 72.5px;
  float: left;
  margin-left: 2%;
  
  
  
  /* background-position: center !important; */
  background-size: cover !important;
}
.ai-show-back{
  background-image: url("/scopa-game-project/images/bg.jpg") !important;
}

.hand-ai{
  position: absolute;
  left:35%;
  bottom:80%;
  width: 30%;
}
.hand-player{
  position: absolute;
  left:30%;
  top:69%;
  width: 40%;
}
.pick-ai{
  position: absolute;
  left:15%;
  bottom:80%;
  width: 50px;
  height: 72.5px;
  background-size: cover !important;
}
.pick-player{
  position: absolute;
  right:15%;
  top:69%;
  width: 50px;
  height: 72.5px;
  background-size: cover !important;
  
}
.top-card-deck{
  width:50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:100px;
  
  background-size: cover !important;
}

.table{
  position: absolute;
  top: 40%;
  left: 30%;
  width: 50%;
}

.card-played{
  position: absolute;
  bottom: 39%;
  left: 30%;
  width: 50%;
}


.deck{
  width: 50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:24%;
}



.move-handPlayer-position-one{
  transform: translate(350px)
}

body{
  
  background-image: url('https://i.stack.imgur.com/q02th.jpg')
}

.selected-card{
  border: 4px solid red;
}

.select-pick{
  border: 4px solid red;
}

.play-card-button{
  margin-left: 3%;
  float: left;
  
}

.display-scores{
  position: absolute;
  left:30%;
  top:30%;
  background-color:green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 2;
}

td:first-child{
  font-weight: bold;
}
tr{
  padding: 4%;
  border:1px solid black;
}

th{
  padding: 4%;
}

.hide-score{
  display: none;
}
