.deck-cover{
  width:50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:100px;
  /* background-position: center !important; */
  background-size: cover !important;
  background-image: url("images/bg.jpg")
  
}

.card-deck{
  width:50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:100px;
  margin: 0 0 !important;
  /* background-position: center !important; */
  background-size: cover !important;
}

.card-hand{
  width:50px;
  height: 72.5px;
  float: left;
  margin-left: 2%;
  
  
  
  /* background-position: center !important; */
  background-size: cover !important;
}
.ai-show-back{
  background-image: url("/scopa-game-project/images/bg.jpg") !important;
}

.hand-ai{
  position: absolute;
  left:35%;
  bottom:80%;
  width: 30%;
}
.hand-player{
  position: absolute;
  left:30%;
  top:69%;
  width: 40%;
}
.pick-ai{
  position: absolute;
  left:15%;
  bottom:80%;
  width: 50px;
  height: 72.5px;
  background-size: cover !important;
}
.pick-player{
  position: absolute;
  right:15%;
  top:69%;
  width: 50px;
  height: 72.5px;
  background-size: cover !important;
  
}
.top-card-deck{
  width:50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:100px;


  /* 
  MOVE-CARD-FROM-FIRST-DECK
  MOVE-CARD-FROM-PLAYER-TABLE
  MOVE-CARD-FROM-TABLE-STACK
  MOVE-CARD-FROM-AI-TABLE
  MOVE-CARD-FROM-AI-STACK
   */
  
  background-size: cover !important;
  

}
 .move-from-deck-to-table{
  animation-name: MOVE-CARD-FROM-FIRST-DECK;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
} 


.alert-move{
  background-color:red;
  width: 20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left:58%;
  top: 25%;
  display: none;
}

.table{
  position: absolute;
  top: 40%;
  left: 30%;
  width: 50%;
}

.card-played{
  position: absolute;
  bottom: 39%;
  left: 30%;
  width: 50%;
}


.deck{
  width: 50px;
  height: 72.5px;
  position: absolute;
  left: 50px;
  top:24%;
}



/* .move-handPlayer-position-one{
  transform: translate(350px)
} */

body{
  
  background-image: url('https://i.stack.imgur.com/q02th.jpg')
}

.selected-card{
  border: 4px solid red;
}

.select-pick{
  border: 4px solid red;
}

.select-pick-ai{
  border: 4px solid red;
}

.play-card-button{
  margin-left: 3%;
  float: left;
  background-color: rgb(179, 37, 37);
  color: white;
  border-radius: 70%;
  border: 0px;

  
}

.display-scores{
  position: absolute;
  left:60%;
  top:10%;
  background-color:rgb(179, 37, 37);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 2;
  color: white;
}

td:first-child{
  font-weight: bold;
}
td{
  padding: 4%;
  border:1px solid black;
  margin:12%;
}

th{
  margin: 4%;
}

.hide-score{
  display: none;
}


.start{
  background-color: green;
  color: aliceblue;
  border-radius: 80%;
  padding: 2%;
  border-color: rgb(25, 59, 25)
}

.scopa-alert{
  background-color: red;
  color: white;
  position: absolute;
  padding: 5%;
  font-family: 'Courier New', Courier, monospace;
  top: 30%;
  left: 70%;
  display: none;
}

.help{
  background-color:grey;
  width: 30%;
  font-family: 'Courier New', Courier, monospace;
 position: absolute;
 left: 70%
}

.help-button{
  position: absolute;
  border-radius: 60%;
  padding: 3%;
  top: 15%;
  left: 0.5%
}

.counting-score{
  background-color:grey;
  width: 30%;
  font-family: 'Courier New', Courier, monospace;
 position: absolute;
 left: 70%
}

.display-score{
  position: absolute;
  border-radius: 60%;
  padding: 3%;
  top: 32%;
  left: 0.5%
}