.deck-cover{
  width:100px;
  height: 145px;
  position: absolute;
  left: 50px;
  top:100px;
  /* background-position: center !important; */
  background-size: cover !important;
  background-image: url("images/bg.jpg")
  
}

.card-deck{
  width:100px;
  height: 145px;
  position: absolute;
  left: 50px;
  top:100px;
  margin: 0 0 !important;
  /* background-position: center !important; */
  background-size: cover !important;
}

.card-hand{
  width:100px;
  height: 145px;
  float: left;
  margin-left: 2%;
  
  
  
  /* background-position: center !important; */
  background-size: cover !important;
}
.ai-show-back{
  background-image: url("/scopa-game-project/images/bg.jpg") !important;
}

.hand-ai{
  position: absolute;
  left:35%;
  bottom:70%;
  width: 30%;
}
.hand-player{
  position: absolute;
  left:35%;
  top:70%;
  width: 30%;
}
.top-card-deck{
  width:100px;
  height: 145px;
  position: absolute;
  left: 50px;
  top:100px;
  /* background-position: center !important; */
  background-size: cover !important;
}

.table{
  position: absolute;
  bottom: 39%;
  left: 30%;
  width: 50%;
}

.card-played{
  position: absolute;
  bottom: 39%;
  left: 30%;
  width: 50%;
}


.deck{
  width: 100px;
  height: 145px;
  position: absolute;
  left: 50px;
  top:24%;
}



.move-handPlayer-position-one{
  transform: translate(350px)
}

body{
  
  background-image: url('https://i.stack.imgur.com/q02th.jpg')
}

.selected-card{
  border: 4px solid red;
}

.select-pick{
  border: 4px solid red;
}
